<div class="row">
  <h2>
    @if(employer){
    <span class="name">{{ employer.personal!.full_name}}</span>
    <span class="role">{{ employer.employee!.roles.join(", ") | titlecase}}</span>
    }@else {
    <app-skeleton />
    }
  </h2>
</div>
<div class="row">
  <app-icon name="phone"></app-icon>
  <div class="value">
    @if(employer){
    @if(employer.personal!.phone){
    <a [href]="employer.personal!.phone | socialLink:'phone'" target="_blank"
      rel="noopener noreferrer">{{employer.personal!.phone}}</a>
    }
    }@else {
    <app-skeleton />
    }
  </div>
</div>
<div class="row">
  <app-icon name="email"></app-icon>
  <div class="value">
    @if(employer){
    {{employer.personal!.email}}
    }@else {
    <app-skeleton />
    }
  </div>
</div>
@if(employer){
@for (link of employer.personal!.social_links; track link.url){
<div class="row">
  <app-icon [name]="link.type"></app-icon>
  <div class="value">
    <a [href]="link.url | socialLink:link.type" target="_blank" rel="noopener noreferrer">{{link.url}}</a>
  </div>
</div>
}
}@else {
<div class="row"><app-skeleton /></div>
<div class="row"><app-skeleton /></div>
<div class="row"><app-skeleton /></div>
}