<aside class="sidebar">
  <app-main-nav></app-main-nav>
  <div class="sidebar__logo"></div>
</aside>
<div class="main-content">
  <header class="header">
    <div class="header__left-group">
      <h1>
        @if(dashboard){
        <a [routerLink]="dashboard.link" routerLinkActive="active" class="home-link">
          <app-icon [name]="dashboard.icon"></app-icon>
          <span class="tooltip tooltip--right">{{ dashboard.title }} </span>
        </a>
        }
        {{ pageTitle }}
      </h1>
    </div>
    <div class="header__right-group">
      @if(welcomeMessage.needShow && welcomeMessage.message) {
      <div class="hello-message">
        {{ welcomeMessage.message }}
      </div>
      }
      <app-user-nav [userName]="fullName"></app-user-nav>
    </div>
  </header>
  <main class="content-area" role="main">
    <router-outlet></router-outlet>
    <app-footer class="footer"></app-footer>
  </main>
</div>