<div class="content-container">
  @if (isEditMode()) {
  <div class="content-container__title"> <app-icon name="edit"></app-icon> Edit profile</div>
  <app-employee-form [employee]="currentUser()" (save)="updateUser($event)"
    (cancelForm)="toggleEditMode()"></app-employee-form>
  } @else {
  <div class="content-container__title">
    <app-icon name="user"></app-icon> Personal info
  </div>
  <div class="content-container__content">
    <app-employee-info [employee]="currentUser()" [showLinks]="false"></app-employee-info>
    <div class="row row--buttons">
      <button class="button button--yellow" (click)="toggleEditMode()" [disabled]="!currentUser()">
        Edit information
      </button>
      <button class="button button--border-yellow" (click)="openPasswordModal()" [disabled]="!currentUser()">
        Change password
      </button>
    </div>
  </div>
  }
</div>

<app-modal-container [(isOpen)]="isPasswordModalOpen" type="default" actionButton="Save">
  <div class="modal__body">
    <app-reset-password (action)="handleUpdatePasswordAction()"></app-reset-password>
  </div>
</app-modal-container>