@if(isOpen()){
<div class="modal-wrapper" [class]="size">
  <div class="bg" (click)="close()" (window:keydown.escape)="close()" tabindex="-1" aria-hidden="true">
  </div>

  <div class="modal-container modal" [class]="type" role="dialog" aria-modal="true">

    <button type="button" class="close" (click)="close()" aria-label="Close modal">
      <app-icon name="cancel"></app-icon>
    </button>

    <div class="header">
      <ng-content select=".modal__header"></ng-content>
    </div>

    <div class="body">
      <ng-content select=".modal__body"></ng-content>
    </div>

    @if(type === 'action'){
    <div class="buttons">
      @if(actionButton){
      <button type="button" class="button" [class]="actionButton === 'Delete' ? 'button--red' : 'button--yellow'"
        (click)="onConfirm()">
        {{ actionButton }}
      </button>

      <button type="button" class="button button--border-yellow" (click)="onCancel()">
        Cancel
      </button>
      }
    </div>
    }
  </div>
</div>
}