<p>test works!</p>

<h2>Persons</h2>
<div class="buttons">
  <button (click)="createUser()">Create user</button>
  <button (click)="updateUser()">Change email</button>
  <button (click)="deleteUser()">Delete user</button>
  <button (click)="getAllUsers()">Show all user</button>
</div>

<app-employee-test></app-employee-test>
<!--
<h2>Employees</h2>
<div class="buttons">
  <button (click)="createEmployee()">Create Employee</button>
  <button (click)="setEmployee()">Set Employee</button>
  <button (click)="updateEmployee()">Update Employee</button>
  <button (click)="deleteEmployee()">Delete Employee</button>
  <button (click)="getAllEmployees()">Get All Employees</button>
  <button (click)="getOneEmployee()">Get One Employee</button>
  <button (click)="subscribeChanges()">Subscribe Changes</button>
</div>
-->
