:root {
  --color-green: #92b701;
  --color-yellow: #fed342;
  --color-orange: #eb671b;
  --color-red: #ba0d18;
  --color-blue: #367dca;
  --color-black: #121212;
  --color-grey-dark: #17181a;
  --color-grey-medium: #1E1E22;
  --color-grey: #2b2e32;
  --color-grey-light: #353535;
  --color-grey-extra-light: #d9d9d9;

  --color-table-bg: #242529;
  --color-table-bg-2: #27292d;
  --color-table-border: #313336;

  --color-grey-text: #b0b1b3;
  --color-grey-text-dark: #747474;
  --color-orange-text: #ffaa0d;
  --color-red-text: #9f0808;

  /* Role Tags - Muted Palette */
  --color-role-owner: #d96a6a;
  --color-role-manager: #6b94b8;
  --color-role-artist: #eeb154;
  --color-role-fireworker: #705db0;
  --color-role-staff: #9ab86b;
  --color-role-driver: #74a974;

  --gradient-yellow: linear-gradient(to right, #d4ab03, #fdf118);
  --gradient-grey-y: linear-gradient(to bottom, #363636, #272727);
  --gradient-grey-x: linear-gradient(to right, #121212, #272727, #121212);
}