@let error = loginErrorMessage();

<h1 class="title">Backstage entrance</h1>
<form [formGroup]="authForm" (ngSubmit)="login()">
  <!-- Email с debounce-валидацией -->
  <div class="form__row" [class.invalid]="emailError()">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" placeholder="" autocomplete="on">
    @if (emailError()) {
    <div class="error-message">
      <span>{{emailErrorMessage()}}</span>
    </div>
    }
  </div>

  <!-- Пароль с обычной валидацией -->
  <div class="form__row" [class.invalid]="password?.invalid && password?.touched">
    <label for="password">Password</label>
    <input id="password" [type]="isPasswordVisibility ? 'text' : 'password'" formControlName="password" placeholder=""
      autocomplete="on">
    <div class="password__eye" [class.isOpen]="isPasswordVisibility" (click)="togglePasswordVisibility()">
      @if(isPasswordVisibility){
      <app-icon name="eye-open"></app-icon>
      }@else{
      <app-icon name="eye-close"></app-icon>
      }
    </div>
    @if (password?.invalid && password?.touched) {
    <div class="error-message">
      @if (password?.errors?.['required']) {
      <span>Введите пароль</span>
      }
    </div>
    }
  </div>

  @if(error){
  <div class="form__error">Неверный пароль или емейл</div>
  }

  <button type="submit">Login</button>
</form>