@let loginError = loginErrorMessage();
@let emailError = isEmailError();

<h1 class="title">Backstage entrance</h1>
<form [formGroup]="authForm" (ngSubmit)="login()">
  <div class="form__row" [class.invalid]=" emailError">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" placeholder="" autocomplete="on" (focus)="onEmailFocus()"
      (blur)="onEmailBlur()">
    @if (emailError) {
    <div class="error-message">
      <span>{{emailErrorMessage()}}</span>
    </div>
    }
  </div>

  <div class="form__row" [class.invalid]="password?.invalid && password?.touched">
    <label for="password">Password</label>
    <input id="password" [type]="isPasswordVisibility ? 'text' : 'password'" formControlName="password" placeholder=""
      autocomplete="on">
    <div class="password__eye" [class.isOpen]="isPasswordVisibility" (click)="togglePasswordVisibility()">
      @if(isPasswordVisibility){
      <app-icon name="eye-open"></app-icon>
      }@else{
      <app-icon name="eye-close"></app-icon>
      }
    </div>
    @if (password?.invalid && password?.touched) {
    <div class="error-message">
      @if (password?.errors?.['required']) {
      <span>Введите пароль</span>
      }
    </div>
    }
  </div>

  @if(loginError){
  <div class="form__error">Неверный пароль или емейл</div>
  }

  <button type="submit" class="button button--big button--yellow-gradient">Login</button>
  <div class="reset-password" (click)="openResetModal()">Forgot your password?</div>
</form>
<app-modal-container [(isOpen)]="isModalOpen" type="action" actionButton="Ok" (action)="handleModalAction($event)">
  <div class="modal__header">Reset password</div>
  <div class="modal__body">Отправить вам ссылку для сброса пароля на электронную почту?</div>
</app-modal-container>