:host {
  display: block;
  margin-left: 12px;
  padding: 0 3.75rem;

  @media (max-width: 768px) {
    padding: 0 1rem;
  }
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 100%;
  background-image: var(--gradient-yellow);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 1.25rem;
  }
}

form {
  margin-top: 32px;
}

label {
  width: 45%;
  min-width: max-content;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.password__eye {
  display: block;
  width: 2rem;
  height: 100%;
  cursor: pointer;
  opacity: 0.4;
}

app-icon {
  --icon-size: 100%;
  --icon-fill-color: #787878;
}

.form__error {
  position: absolute;
  font-size: 0.75rem;
  bottom: 5.75rem;
  color: var(--color-red);
}

.small-text {
  font-size: 0.75rem;
  color: var(--color-grey-text-dark);
  text-align: center;
}