@let passwordVisibility = isPasswordVisibility();

<div class="reset-pasword">
  <h1 class="title">Reset password</h1>
  <form [formGroup]="form" (ngSubmit)="reset()">
    <div class="form__row" [class.invalid]="isPasswordError()">
      <label for="password">New password</label>
      <input id="password" [type]="passwordVisibility ? 'text' : 'password'" formControlName="password"
        (blur)="trimOnBlur('password')" placeholder="" autocomplete="on">
      <div class="password__eye" [class.isOpen]="passwordVisibility" (click)="togglePasswordVisibility()">
        @if(passwordVisibility){
        <app-icon name="eye-open"></app-icon>
        }@else{
        <app-icon name="eye-close"></app-icon>
        }
      </div>
      @if (isPasswordError()) {
      <div class="error-message">
        <span>{{passwordErrorMessage()}}</span>
      </div>
      }
    </div>
    <div class="form__row" [class.invalid]="repeatControl?.invalid && (repeatControl?.touched || repeatControl?.dirty)">
      <label for="repeat">Repeat</label>
      <input id="repeat" [type]="'password'" formControlName="repeat" (blur)="trimOnBlur('repeat')" placeholder=""
        autocomplete="on">
      @if (repeatControl?.errors && (repeatControl?.touched || repeatControl?.dirty)) {
      <div class="error-message">
        @if(repeatControl?.errors?.['passwordsMismatch']){
        <span>Пароли не совпадают</span>
        }
        @else {
        <span>Повторите пароль</span>
        }
      </div>
      }
    </div>
    <button type="submit" class="button button--big button--yellow-gradient">Reset</button>
  </form>
  <p class="small-text">Пароль не менее 6 символов, латинские буквы и цифры.</p>
</div>
<app-toast [message]="successToastMessage" [type]="'success'" [position]="'top-right'" [isOpen]="isSuccessToastOpen()"
  [autoCloseDuration]="3000" (closed)="onSuccessToastClosed()">
</app-toast>
<app-toast [message]="errorToastMessage" [type]="'error'" [position]="'top-right'" [isOpen]="isErrorToastOpen()"
  [autoCloseDuration]="4000" (closed)="onErrorToastClosed()">
</app-toast>