app-inventory-table {
  width: 1200px;
  display: block;

  @media (max-width: 1600px) {
    width: calc(100dvw - 300px);
  }

  @media (max-width: 768px) {
    width: calc(100dvw - 4rem);
  }
}

.button--add {
  position: absolute;
  top: -6px;
  left: 1rem;

  @media (max-width: 768px) {
    position: relative;
    margin: 0 auto 1rem;
    left: 0;
    top: 0;
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}