.calender-piker__date {
  display: flex;
  justify-content: center;
}

.calender-piker__tools-container {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.25rem;

  .calender-piker__arrow {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;

    user-select: none;

  }

  &:focus-within {
    .calender-piker__arrow {
      opacity: 1;
      visibility: visible;
      width: 1.125rem;
      height: 0.9rem;
      margin: 0 0.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      line-height: 0.9rem;
      color: var(--color-green);
      padding-bottom: 3px;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: var(--color-orange);
        }
      }

      &:active {
        color: var(--color-orange);
      }

      &.disabled {
        color: var(--color-grey-dark);
        cursor: auto;
        pointer-events: none;
      }
    }
  }
}