<div class="calender-piker">
  <div class="calender-piker__date">
    <div class="calender-piker__tools-container" tabindex="0">
      <div class="calender-piker__arrow" role="button" tabindex="0"
        [class.disabled]="selectedMonth() === currentDate.getMonth() && selectedYear() === currentDate.getFullYear()"
        (click)="(selectedMonth() !== currentDate.getMonth() || selectedYear() !== currentDate.getFullYear()) && changeMonth(-1)"
        (keydown.enter)="(selectedMonth() !== currentDate.getMonth() || selectedYear() !== currentDate.getFullYear()) && changeMonth(-1)"
        aria-label="Предыдущий месяц">
        &#8249;
      </div>
      <div class="calender-piker__month">{{selectedMonth() | getMonthRu}}</div>
      <div class="calender-piker__arrow" role="button" tabindex="0" (click)="changeMonth(1)"
        (keydown.enter)="changeMonth(1)" aria-label="Следующий месяц">
        &#8250;
      </div>
    </div>
    <div class="calender-piker__tools-container" tabindex="0">
      <div class="calender-piker__arrow" role="button" tabindex="0"
        [class.disabled]="selectedYear() === currentDate.getFullYear()"
        (click)="selectedYear() !== currentDate.getFullYear() && changeYear(-1)"
        (keydown.enter)="selectedYear() !== currentDate.getFullYear() && changeYear(-1)" aria-label="Предыдущий год">
        &#8249;
      </div>
      <div class="calender-piker__year">{{selectedYear()}}</div>
      <div class="calender-piker__arrow" role="button" tabindex="0" (click)="changeYear(1)"
        (keydown.enter)="changeYear(1)" aria-label="Следующий год">
        &#8250;
      </div>
    </div>
  </div>
</div>