<!--@let employee = selectedEmployee();-->

<app-calendar-piker (dateChange)="onDateChange($event)"></app-calendar-piker>
<app-data-table [searchQuery]="searchQuery()" [currentPage]="currentPage()" [totalPages]="totalPages()"
  [pages]="pages()" (searchChange)="onSearch($event)" (pageChange)="currentPage.set($event)">

  <div filters class="select-wrapper">
    <div class="label">Filter:</div>
    <select name="role" [value]="selectedRole()"
      (change)="selectedRole.set($any($event.target).value); currentPage.set(1)">
      <option value="all">Все роли</option>
      @for (role of roles; track role) {
      <option [value]="role" [selected]="selectedRole() === role">
        {{ role | roleTranslate }}
      </option>
      }
    </select>
  </div>

  <ng-container header>
    <th class="cell--name sticky-coll sticky-coll--left"></th>

    @for (day of calendarDays(); track day) {
    <th class="cell--calendar">
      <div class="day-name">{{ (day | getDayOfWeek:firstDayIndex()).shortNameRu}}</div>
      <div class="day-number">{{ day }}</div>
    </th>
    }
    @if(canEdit()){
    <th class="cell--icon sticky-coll sticky-coll--right"></th>
    }
  </ng-container>

  <ng-container rows>
    @for (emp of paginatedData(); track emp.person?.personId) {
    @if(emp.person){
    <tr class="table__row">
      <td class="cell--name sticky-coll sticky-coll--left">
        <div class="fullName">{{ emp.person.fullName }}</div>
        <div class="shortName"> {{ emp.person.fullName.split(" ")[0] || ''}} {{ emp.person.fullName.split(" ")[1][0] ||
          ''}}.</div>
        @if(emp.person.personId === currentUser()?.person?.personId){ (Вы) }
      </td>
      @for (day of calendarDays(); track day) {
      <td class="cell--calendar-data" [attr.data-emp-id]="emp.person.personId" [attr.data-day]="day">
        <div class="calendar-slot"></div>
      </td>
      }
      @if(canEdit()){
      <td class="cell--icon sticky-coll sticky-coll--right">
        <app-icon name="edit" class="edit-icon"></app-icon>
      </td>
      }
    </tr>
    }
    } @empty {
    <tr>
      <td colspan="8">
        {{ isLoading() ? 'Загрузка...' : 'Никого не нашли' }}
      </td>
    </tr>
    }
  </ng-container>
</app-data-table>