@let employee = selectedEmployee();

<app-data-table [searchQuery]="searchQuery()" [currentPage]="currentPage()" [totalPages]="totalPages()"
  [pages]="pages()" (searchChange)="onSearch($event)" (pageChange)="currentPage.set($event)">

  <div filters class="select-wrapper">
    <div class="label">Filter:</div>
    <select name="role" [value]="selectedRole()"
      (change)="selectedRole.set($any($event.target).value); currentPage.set(1)">
      <option value="all">Все роли</option>
      @for (role of roles; track role) {
      <option [value]="role" [selected]="selectedRole() === role">
        {{ role | roleTranslate }}
      </option>
      }
    </select>
  </div>

  <ng-container header>
    <th class="cell--name sticky-coll">ФИО</th>
    <th class="cell--role"></th>
    <th class="cell--phone">Телефон</th>
    <th class="cell--link">Telegram</th>
    <th class="cell--link">VK</th>
    <th class="cell--link">WhatsApp</th>
    @if(canEdit()){
    <th class="cell--icon"></th>
    <th class="cell--icon"></th>
    }
  </ng-container>

  <ng-container rows>
    @for (emp of paginatedData(); track emp.person?.personId) {
    <tr class="table__row">
      <td class="cell--name sticky-coll" (click)="showEmployeeInfo(emp)">
        {{ emp.person?.fullName }}
        @if(emp.person?.personId === currentUser()?.person?.personId){ (Вы) }
      </td>
      <td class="cell--role">
        @for (role of emp.worker?.roles; track role;) {
        <div class="cell__role" [class]="'cell__role--' + role">
          {{ role | roleTranslate }}
        </div>
        }
      </td>
      <td class="cell--phone">{{ emp.person?.phone }}</td>
      <td class="cell--link">{{ (emp.person?.socialLinks | getSocialLink: 'telegram') || "-"}}</td>
      <td class="cell--link">{{ (emp.person?.socialLinks | getSocialLink: 'vk') || "-"}}</td>
      <td class="cell--link">{{ (emp.person?.socialLinks | getSocialLink: 'whatsapp') || "-"}}</td>

      @if(canEdit()){
      <td class="cell--icon">
        <app-icon name="edit" (click)="openEditModal(emp)" class="edit-icon"></app-icon>
      </td>
      <td class="cell--icon">
        @if(emp.person?.personId != currentUser()?.person?.personId){
        <app-icon name="trash" (click)="openConfirmDeleteModal(emp)" class="delete-icon"></app-icon>
        }
      </td>
      }
    </tr>
    } @empty {
    <tr>
      <td colspan="8">
        {{ isLoading() ? 'Загрузка...' : 'Никого не нашли' }}
      </td>
    </tr>
    }
  </ng-container>
</app-data-table>

<app-modal-container [(isOpen)]="isEditModalOpen" type="default" actionButton="Save">
  <div class="modal__header">Edit employee info</div>
  <div class="modal__body">
    <app-employee-form [employee]="employee" (save)="updateSelectedEmployee($event)"
      (cancel)="closeEditModal()"></app-employee-form>
  </div>
</app-modal-container>

<app-modal-container [(isOpen)]="isConfirmDeleteModalOpen" type="action" actionButton="Delete"
  (action)="handleDeleteAction($event)">
  <div class="modal__header">Delete employee</div>
  <div class="modal__body">
    <p>Вы собираетесь удалить аккаунт и данные сотрудника:</p>
    <p><strong>{{ employee?.person?.fullName }}</strong></p>
    <p>Это действие необратимо.</p>
  </div>
</app-modal-container>

<app-modal-container [(isOpen)]="isInfoModalOpen" type="info">
  <div class="modal__body">
    <app-employee-info [employee]="employee" [showLinks]="true"></app-employee-info>
  </div>
</app-modal-container>