:host {
  width: 100%;
}

.label {
  margin-right: 1rem;
}

.roles-list {
  display: flex;
  flex-wrap: wrap;
}

.role-item {
  position: relative;
  margin-right: 0.25rem;
  width: max-content;
  min-width: max-content;

  .remove {
    display: block;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 40%;
    background: none;
    font-size: 1.25rem;
    color: var(--color-grey-extra-light);
    border: none;
    padding: 0 0.5rem;
    transform: translateY(-50%);
  }

  select {
    margin-bottom: 0.25rem;
  }

  select:open+.remove {
    display: none;
  }
}