.label {
  margin-right: 1rem;
}

.roles-list {
  display: flex;
  flex-wrap: wrap;
}

.role-item {
  position: relative;
  display: flex;
  align-items: stretch;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
  padding: 0;
  color: var(--color-grey-extra-light);
  border: 1px solid var(--color-grey-text-dark);
  border-radius: 0.5rem;

  select {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  select,
  ::picker(select) {
    appearance: base-select;
  }

  select::picker-icon {
    opacity: 0;
  }

  select:open::picker-icon {
    opacity: 1;
  }

  ::picker(select) {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  option {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
  }

  option:checked {
    background-color: #e3f2fd;
  }

  .remove {
    display: block;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 50%;
    background: none;
    font-size: 1.25rem;
    color: var(--color-grey-extra-light);
    border: none;
    padding: 0 0.5rem;
    transform: translateY(-50%);
  }

  select:open+.remove {
    display: none;
  }
}